.Selected {
    background-color: yellow;
}

.Selecting {
    background-color: yellow;
}

.TextItem::selection {
    background-color: transparent; 
}

.TextItem[ishighlighted='true'].Selected {
    background-color: defaultColor;
}

.TextItem[ishighlighted='true'].Selecting {
    background-color: defaultColor;
}

.grid-container-textcontent-buttons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}